
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Pizza>

<h1 class="display-3">Pizza menu</h1>
<p class="lead">Please select a pizza!</p>

@foreach(var pizza in Model){
    <li>@pizza.Name - @pizza.Price MKD</li>
}